@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TeamBuilderPkmnASP.Models.User
@{
    bool isSignin = ViewData["Title"].ToString() == "Signin";
}

<div class="row">
    <div class="offset-md-3">
        @if (isSignin)
        {
            <h1>S'inscrire</h1>
        }
        else
        {
            <h1>Se connecter</h1>
        }
    </div>
</div>
<div class="form-check">
    <form method="post" asp-controller="Login" asp-action="@ViewData["Title"]">
        <div class="form-group">
            <label for="mail">E-mail :</label>
            <input class="form-control" type="email" name="mail" placeholder="E-mail" />
        </div>

        @if (isSignin)
        {
            <div class="form-group">
                <label for="pseudo">Pseudonyme (30 charactères maximum) :</label>
                <input class="form-control" type="text" name="pseudo" placeholder="Pseudonyme (30 char max)" />
            </div>
        }
        <div class="form-group">
            <label for="pwd">Mot de passe :</label>
            <input class="form-control" type="password" name="pwd" placeholder="Mot de passe" />
        </div>
        @if (isSignin)
        {
            <div class="form-group">
                <label for="validPwd">Validez le mot de passe :</label>
                <input class="form-control" type="password" name="validPwd" placeholder="Retapez le mot de passe" />
            </div>
        }
        <input class="btn btn-primary" type="submit" value="Valider" />
    </form>
    @if (ViewData["Error"] != null)
    {
        <div class="small" style="color:darkred">
            @ViewData["Error"];
        </div>
    }
    @if (ViewData["Title"].ToString() == "Signin")
    {

            <form class="btn offset-1" method="post" asp-action="Login" asp-controller="Pokemons">
                <button type="submit" name="title" value="Login">Se connecter</button>
            </form>

    }
    else
    {
            <form class="btn offset-1" method="post" asp-action="Signin" asp-controller="Pokemons">
                <button type="submit" name="title" value="Signin">S'inscrire</button>
            </form>

    }
</div>
