@model IEnumerable<TeamBuilderPkmnASP.Models.Pokemon>

@{
    ViewData["Title"] = "PkmnList";
}

<h1>PkmnList</h1>

<table class="table">
    <!--
    <thead>
        <tr>
            <th>
                //Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                //Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    -->
    @foreach (var pokemon in (Pokemon[])ViewData["pokemons"])
    {
        <tr>
            <td>
                @pokemon.Id
            </td>
            <td>
                <img src="@pokemon.Image" alt="missing sprite" asp-append-version="false"/>
            </td>
            <td>
                @pokemon.Name
            </td>
        </tr>
    }
    <!--</tbody>-->
</table>
